html, body {
    height: 90%;
}



html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    
}

.wrapper {
    background-color: white;
    opacity: 0.5;
    border-radius: 25px;
    box-shadow: 0 0 5px 10px white;
}

body {
    background-image: url("starry-night-1.gif");
    background-repeat: repeat;
}

h1 {
    color: darkblue;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;    
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: darkblue;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.variable {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}